<a href="https://colab.research.google.com/github/410651128/introduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hi")

hi

In [2]:
i=range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [19]:
j=range(10)
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
a=range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [8]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [9]:
c=range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [20]:
f=range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
g=range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
h=range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [13]:
i=range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [15]:
for n in range(3):
  print(n,end=",")

0,1,2,

In [17]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [23]:
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1):
  print(m,end=",")

請輸入一個正整數:10
1,2,3,4,5,6,7,8,9,10,

In [24]:
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1,2):
  print(m,end=",")

請輸入一個正整數:10
1,3,5,7,9,

In [26]:
sum=0
for n in range(5):
  sum=sum+n
print(sum)

10

In [33]:
test=int(input("請輸入一個正整數:"))
sum=0
for n in range(1,test+1):
  sum=sum+n
print("1到",test,"的整數和為",sum)

請輸入一個正整數:10
1到 10 的整數和為 55

In [35]:
test=int(input("請輸入一個正整數:"))
sum=0
for m in range(1,test+1):
  sum=sum+m
  print("1到"+str(m)+"的整數和為",sum)

請輸入一個正整數:50
1到1的整數和為 1
1到2的整數和為 3
1到3的整數和為 6
1到4的整數和為 10
1到5的整數和為 15
1到6的整數和為 21
1到7的整數和為 28
1到8的整數和為 36
1到9的整數和為 45
1到10的整數和為 55
1到11的整數和為 66
1到12的整數和為 78
1到13的整數和為 91
1到14的整數和為 105
1到15的整數和為 120
1到16的整數和為 136
1到17的整數和為 153
1到18的整數和為 171
1到19的整數和為 190
1到20的整數和為 210
1到21的整數和為 231
1到22的整數和為 253
1到23的整數和為 276
1到24的整數和為 300
1到25的整數和為 325
1到26的整數和為 351
1到27的整數和為 378
1到28的整數和為 406
1到29的整數和為 435
1到30的整數和為 465
1到31的整數和為 496
1到32的整數和為 528
1到33的整數和為 561
1到34的整數和為 595
1到35的整數和為 630
1到36的整數和為 666
1到37的整數和為 703
1到38的整數和為 741
1到39的整數和為 780
1到40的整數和為 820
1到41的整數和為 861
1到42的整數和為 903
1到43的整數和為 946
1到44的整數和為 990
1到45的整數和為 1035
1到46的整數和為 1081
1到47的整數和為 1128
1到48的整數和為 1176
1到49的整數和為 1225
1到50的整數和為 1275